* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100dvh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  top: 0;
}

#editorMenu {
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 1;
  width: 6em;
  height: 5em;
  display: flex;
  flex-direction: column
}

editorConfig {
  flex-grow: 1;
  display: inline;
  border: 1px solid;
  cursor: pointer;
}

editorConfig:hover {
  background-color: gray;
  color: white;
}

#map_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

#menu_button {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  background-color: #222222;
}

#menu_button svg {
  pointer-events: none;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222222;
  font-family: roboto;
}

#menu[data-show=false] {
  display: none;
}

#menu header {
  position: fixed;
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
}

#menu .return {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
}

.return svg {
  pointer-events: none;
}

#menu .headerText {
  position: relative;
  height: 100%;
  width: auto;
  flex-grow: 1;
  color: white;
  font-size: 1.5em;
  line-height: 1.95em;
}

#menu content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 3em;
  color: white;
  /*border: 1px solid red;*/
}

section {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.25em;
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
}

section p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

section p::before {
  content: "# ";
}

section line {
  width: 100%;
  margin-bottom: 2px;
  min-height: 1em;
  /*border: 1px solid white;*/
}

section line :not(a) {
  position: absolute;
  right: 0.25em;
}

section::after {
  content: "";
  position: relative;
  bottom: -2px;
  width: 100%;
  height: 0.1em;
  background-color: gray;
  margin-bottom: 0.5em;
  margin-top: 0.15em;
}

input[type="range"] {
  width: 10em;
  appearance: none;
  background: white;
  border-radius: 0;
  cursor: pointer;
  height: 0.2em;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0.7em;
  height: 0.7em;
  background: black;
  border-radius: 50%;
  border: 0.1em solid #dddddd;
}

input[type="checkbox"] {
  /*appearance: none;*/
  background: red;
}

/*@media (orientation: landscape) {
  #menu .content {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  #menu .content {
    flex-direction: column;
  }
  #menu .content :is(select) {
    position: relative;
    left: 10px;
  }
}*/
